@*@model IEnumerable<Entity.Curso>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <button id="empleado-bulk" class="pull-right btn btn-default">
        <i class="glyphicon glyphicon-list-alt alert-success"></i>
        Registrar Curso
    </button>

    <div id="CursoList"></div>
</div>



@*<curso-modal></curso-modal>*@
@*<curso-save-modal></curso-save-modal>*@

@*<script src="~/Component?url=CursoView" type="riot/tag"></script>*@
@*<script src="~/Component?url=EmpleadoBulk" type="riot/tag">
</script>*@


@section scripts{
    <script>
    var data = {
        class: 'table-striped table-bordered table-condensed',
        columnas: [
            { leyenda: 'Id Curso', class: '', ordenable: true, columna: 'CurIntId', filtro: true },
            { leyenda: 'Nombre', class: '', ordenable: true, columna: 'CursoName', filtro: true },
        ],
        modelo: [
            { propiedad: 'CurIntId' },
            { propiedad: 'CursoName' },
        ],


        url: '@Url.Content("~/Curso/Listar")',
        paginable: true,
        filtrable: true,
        limite: [20, 60, 100],
        columna: 'CurIntId',
        columna_orden: 'DESC'
    };

    $(document).ready(function () {
        var grid = $("#CursoList").ResponseGrid(data);

        //$("#list").on('click', '.btn-visualizar', function () {
        //    var obj = $(this);

        //    riot.mount('user-modal', {
        //        id: obj.val()
        //    });
        //})

        //$("#empleado-bulk").click(function () {
        //    riot.mount('user-bulk-modal');
        //})
    })
    </script>
}